vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Jul 2012 00:29:54 -0000
vti_extenderversion:SR|5.0.2.6819
vti_lineageid:SR|{9DC77A1B-6C5F-42C7-B1E0-AA0F9FEF2A49}
vti_backlinkinfo:VX|
vti_author:SR|ROSE\\dumb5689
vti_modifiedby:SR|ROSE\\dumb5689
vti_nexttolasttimemodified:TW|26 Jul 2012 00:05:22 -0000
vti_timecreated:TR|26 Jul 2012 00:29:54 -0000
vti_cacheddtm:TX|26 Jul 2012 00:29:54 -0000
vti_filesize:IR|4251
