vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Jul 2012 00:05:22 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|26 Jul 2012 00:05:22 -0000
vti_filesize:IR|37896
vti_cachedlinkinfo:VX|Q|http://fonts.googleapis.com/css S|images/rss-icon.png S|images/twitter-icon.png S|images/fb-icon.png S|images/flickr-icon.png S|images/vimeo-icon.png S|images/linkedin-icon.png S|images/delicious-icon.png S|images/googleplus-icon.png
vti_cachedsvcrellinks:VX|NQHS|http://fonts.googleapis.com/css NSUS|themes/YokoMobile/images/rss-icon.png NSUS|themes/YokoMobile/images/twitter-icon.png NSUS|themes/YokoMobile/images/fb-icon.png NSUS|themes/YokoMobile/images/flickr-icon.png NSUS|themes/YokoMobile/images/vimeo-icon.png NSUS|themes/YokoMobile/images/linkedin-icon.png NSUS|themes/YokoMobile/images/delicious-icon.png NSUS|themes/YokoMobile/images/googleplus-icon.png
vti_lineageid:SR|{912D77A0-CDE3-4310-9165-A30697C06D86}
vti_backlinkinfo:VX|
