vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|27 Jul 2012 02:40:46 -0000
vti_extenderversion:SR|5.0.2.6819
vti_lineageid:SR|{A56F2612-5BE1-454F-8B7E-748C18FAA0BC}
vti_backlinkinfo:VX|
vti_author:SR|ROSE\\dumb5689
vti_modifiedby:SR|ROSE\\dumb5689
vti_nexttolasttimemodified:TW|27 Jul 2012 00:48:45 -0000
vti_timecreated:TR|25 Jul 2012 21:42:41 -0000
vti_cacheddtm:TX|27 Jul 2012 02:40:46 -0000
vti_filesize:IR|7234
