vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|27 Jul 2012 02:12:22 -0000
vti_extenderversion:SR|5.0.2.6819
vti_lineageid:SR|{CB3A757E-A145-4931-AA41-1BAD449EC5DF}
vti_backlinkinfo:VX|
vti_author:SR|ROSE\\dumb5689
vti_modifiedby:SR|ROSE\\dumb5689
vti_nexttolasttimemodified:TW|27 Jul 2012 02:01:15 -0000
vti_timecreated:TR|25 Jul 2012 22:35:14 -0000
vti_cacheddtm:TX|27 Jul 2012 02:12:22 -0000
vti_filesize:IR|37936
vti_cachedlinkinfo:VX|Q|http://fonts.googleapis.com/css S|images/rss-icon.png S|images/twitter-icon.png S|images/fb-icon.png S|images/flickr-icon.png S|images/vimeo-icon.png S|images/linkedin-icon.png S|images/delicious-icon.png S|images/googleplus-icon.png
vti_cachedsvcrellinks:VX|NQHS|http://fonts.googleapis.com/css NSUS|themes/Yoko/images/rss-icon.png NSUS|themes/Yoko/images/twitter-icon.png NSUS|themes/Yoko/images/fb-icon.png NSUS|themes/Yoko/images/flickr-icon.png NSUS|themes/Yoko/images/vimeo-icon.png NSUS|themes/Yoko/images/linkedin-icon.png NSUS|themes/Yoko/images/delicious-icon.png NSUS|themes/Yoko/images/googleplus-icon.png
