vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|25 Jul 2012 21:17:06 -0000
vti_extenderversion:SR|5.0.2.6819
vti_cacheddtm:TX|25 Jul 2012 21:17:06 -0000
vti_filesize:IR|15383
vti_cachedlinkinfo:VX|S|../../pics/apml.png S|../../pics/remote.gif S|../../pics/star_small.gif S|../../pics/xfn/me.gif S|../../pics/xfn/contact.gif S|../../pics/xfn/contactMet.gif S|../../pics/xfn/colleague.gif S|../../pics/xfn/colleagueMet.gif S|../../pics/xfn/sweet.gif S|../../pics/xfn/sweetMet.gif
vti_cachedsvcrellinks:VX|FSUS|pics/apml.png FSUS|pics/remote.gif FSUS|pics/star_small.gif FSUS|pics/xfn/me.gif FSUS|pics/xfn/contact.gif FSUS|pics/xfn/contactMet.gif FSUS|pics/xfn/colleague.gif FSUS|pics/xfn/colleagueMet.gif FSUS|pics/xfn/sweet.gif FSUS|pics/xfn/sweetMet.gif
vti_lineageid:SR|{EEA69FFA-3A62-48FC-9ABF-FA62F6D08574}
vti_backlinkinfo:VX|
